.footer-main{
    width: 100%;
    border-top: 1px solid #d7d3dd;
    background-color: #fff;
    a{
        color: #473a58;
        font-size: 0.8em;
    }
    .primary-btn-sm{
        font-size: 0.7em;
    }
}
.footer-logo{
    font-weight: 600;
    font-size: 0.9em;
    color: #473a58 !important;
    .logo{
        height: 18px;
        width: 18px;
    }
}