.App {
  text-align: center;

  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  
}
// ::-webkit-scrollbar {
//   width: 8px;
  
// }

// ::-webkit-scrollbar-thumb{
//   background-color: rgb(162, 162, 162);
//   border: 2px solid rgb(255, 255, 255);
//   border-radius: 4px;
// }

